<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>no</key>
		<integer>12</integer>
		<key>name</key>
		<string>Rafinha</string>
		<key>poisition</key>
		<string>MF</string>
	</dict>
	<dict>
		<key>no</key>
		<integer>14</integer>
		<key>name</key>
		<string>Javier Mascherano</string>
		<key>poisition</key>
		<string>MF</string>
	</dict>
	<dict>
		<key>no</key>
		<integer>18</integer>
		<key>name</key>
		<string>Jordi Alba</string>
		<key>poisition</key>
		<string>DF</string>
	</dict>
	<dict>
		<key>no</key>
		<integer>13</integer>
		<key>name</key>
		<string>Claudio Bravo</string>
		<key>poisition</key>
		<string>GK</string>
	</dict>
	<dict>
		<key>no</key>
		<integer>12</integer>
		<key>name</key>
		<string>Rafinha</string>
		<key>poisition</key>
		<string>MF</string>
	</dict>
	<dict>
		<key>no</key>
		<integer>12</integer>
		<key>name</key>
		<string>Rafinha</string>
		<key>poisition</key>
		<string>MF</string>
	</dict>
	<dict>
		<key>no</key>
		<integer>12</integer>
		<key>name</key>
		<string>Rafinha</string>
		<key>poisition</key>
		<string>MF</string>
	</dict>
	<dict>
		<key>no</key>
		<integer>12</integer>
		<key>name</key>
		<string>Rafinha</string>
		<key>poisition</key>
		<string>MF</string>
	</dict>
	<dict>
		<key>no</key>
		<integer>12</integer>
		<key>name</key>
		<string>Rafinha</string>
		<key>poisition</key>
		<string>MF</string>
	</dict>
	<dict>
		<key>no</key>
		<integer>5</integer>
		<key>name</key>
		<string>Sergio Busquets</string>
		<key>poisition</key>
		<string>MF</string>
	</dict>
	<dict>
		<key>no</key>
		<integer>1</integer>
		<key>name</key>
		<string>Marc-Andre ter Stegen</string>
		<key>poisition</key>
		<string>GK</string>
	</dict>
	<dict>
		<key>no</key>
		<integer>1</integer>
		<key>name</key>
		<string>Marc-Andre ter Stegen</string>
		<key>poisition</key>
		<string>GK</string>
	</dict>
	<dict>
		<key>no</key>
		<integer>3</integer>
		<key>name</key>
		<string>Gerard Pique</string>
		<key>poisition</key>
		<string>DF</string>
	</dict>
	<dict>
		<key>no</key>
		<integer>12</integer>
		<key>name</key>
		<string>Rafinha</string>
		<key>poisition</key>
		<string>MF</string>
	</dict>
	<dict>
		<key>no</key>
		<integer>12</integer>
		<key>name</key>
		<string>Rafinha</string>
		<key>poisition</key>
		<string>MF</string>
	</dict>
	<dict>
		<key>no</key>
		<integer>12</integer>
		<key>name</key>
		<string>Rafinha</string>
		<key>poisition</key>
		<string>MF</string>
	</dict>
	<dict>
		<key>no</key>
		<integer>12</integer>
		<key>name</key>
		<string>Rafinha</string>
		<key>poisition</key>
		<string>MF</string>
	</dict>
	<dict>
		<key>no</key>
		<integer>12</integer>
		<key>name</key>
		<string>Rafinha</string>
		<key>poisition</key>
		<string>MF</string>
	</dict>
	<dict>
		<key>no</key>
		<integer>12</integer>
		<key>name</key>
		<string>Rafinha</string>
		<key>poisition</key>
		<string>MF</string>
	</dict>
	<dict>
		<key>no</key>
		<integer>12</integer>
		<key>name</key>
		<string>Rafinha</string>
		<key>poisition</key>
		<string>MF</string>
	</dict>
	<dict>
		<key>no</key>
		<integer>12</integer>
		<key>name</key>
		<string>Rafinha</string>
		<key>poisition</key>
		<string>MF</string>
	</dict>
	<dict>
		<key>no</key>
		<integer>4</integer>
		<key>name</key>
		<string>Ivan Rakitic</string>
		<key>poisition</key>
		<string>MF</string>
	</dict>
	<dict>
		<key>no</key>
		<integer>5</integer>
		<key>name</key>
		<string>Sergio Busquets</string>
		<key>poisition</key>
		<string>MF</string>
	</dict>
	<dict>
		<key>no</key>
		<integer>7</integer>
		<key>name</key>
		<string>Pedro Rodriguez</string>
		<key>poisition</key>
		<string>FW</string>
	</dict>
	<dict>
		<key>no</key>
		<integer>8</integer>
		<key>name</key>
		<string>Andres Iniesta</string>
		<key>poisition</key>
		<string>MF</string>
	</dict>
	<dict>
		<key>no</key>
		<integer>9</integer>
		<key>name</key>
		<string>Luis Suarez</string>
		<key>poisition</key>
		<string>FW</string>
	</dict>
	<dict>
		<key>no</key>
		<integer>10</integer>
		<key>name</key>
		<string>Lionel Messi </string>
		<key>poisition</key>
		<string>FW</string>
	</dict>
	<dict>
		<key>no</key>
		<integer>11</integer>
		<key>name</key>
		<string>Neymar</string>
		<key>poisition</key>
		<string>FW</string>
	</dict>
	<dict>
		<key>no</key>
		<integer>12</integer>
		<key>name</key>
		<string>Rafinha</string>
		<key>poisition</key>
		<string>MF</string>
	</dict>
	<dict>
		<key>no</key>
		<integer>13</integer>
		<key>name</key>
		<string>Claudio Bravo</string>
		<key>poisition</key>
		<string>GK</string>
	</dict>
	<dict>
		<key>no</key>
		<integer>14</integer>
		<key>name</key>
		<string>Javier Mascherano</string>
		<key>poisition</key>
		<string>MF</string>
	</dict>
	<dict>
		<key>no</key>
		<integer>15</integer>
		<key>name</key>
		<string>Marc Bartra</string>
		<key>poisition</key>
		<string>DF</string>
	</dict>
	<dict>
		<key>no</key>
		<integer>16</integer>
		<key>name</key>
		<string>Douglas</string>
		<key>poisition</key>
		<string>DF</string>
	</dict>
	<dict>
		<key>no</key>
		<integer>18</integer>
		<key>name</key>
		<string>Jordi Alba</string>
		<key>poisition</key>
		<string>DF</string>
	</dict>
	<dict>
		<key>no</key>
		<integer>20</integer>
		<key>name</key>
		<string>Sergi Roberto</string>
		<key>poisition</key>
		<string>MF</string>
	</dict>
</array>
</plist>
